/* Mainly all the CSS below (aside from like 2 extra lines) was pasted from W3schools because I've never made a modal before, so all W3school's comments have been left in there until I clean this all up*/

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(189, 213, 150); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.106); /* Black w/ opacity */
  z-index: 1000; /* I ADDED THIS LINE MYSELF. THIS LINE DOES NOT COME FROM W3SCHOOLS */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height:60%; /* I ADDED THIS LINE MYSELF. THIS LINE DOES NOT COME FROM W3SCHOOLS */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}